
.wrapper {
  .header, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 25px;
    .header-title {
      color: red;
      padding-right: 10px;
    }
    .header-info {
      color: chartreuse;
    }
  }

  .content {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer > button {
    color: goldenrod;
  }
}
